.jal {
  color: darkblue;
}

h1 {
  text-align: center;
}

.main {
  width:1000px;
  height: 300px;
  align-items: center;
}


.column {
  width: 500px;
  float: left;
  margin: 10px;


}

li {
  width: 15%;
  border: 2px ;
  padding: 4px;
  margin: 12px;
  background-color: lightblue;
  display: inline-block;
}
p {
  text-align: center;
  font-size: 20pt;
  background-color: lightblue;
  font-style: italic;

}
